/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}


#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto; 
     
}

#middle {
	min-height: 500px;
	width: 100%;
}

#top, #middle, #bottom {
	min-width: 1000px;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

/* styling for the table */

td{
    text-align: left;
}


#names 
{
	margin: 0 auto;
}

.form-control{
	text-align: center;
}

h1{
	color: #A41034;
}

.boxed{
	background-color: #A41034;
	padding: 50px 0px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border: 8px solid black;
	border-radius: 9px;
	max-width: 100%;
}

.chat{
	background-color: #A41034;
	padding: 20px 0px 0px 0px;
	width: 30%;
	border: 8px solid black;
	border-radius: 9px;
	margin: 0 auto;
}

.radio-inline{
	color: white;
}


.post-left{
	width: 400px;
	margin: 20px auto 20px 20px; 
}

.post-right{
	width: 400px;
	margin: 20px 20px 20px auto; 
	min-height: 86px;
}

#past_posts{
	min-height: 100px;
	max-height: 400px;
	overflow: scroll;
	border: 2px solid grey;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#posts_container{
	width: 60%;
	margin: 0 auto;
}

.postp-left{
	text-align: center;
	font-size: 13px;
	color: black;
	margin-right: 10px;
}

.postp-right{
	text-align: center;
	font-size: 13px;
	color: black;
}

.post_date{
	text-align:center;
	font-size: 14px;
	color: black;
}

div.post_text_left{
	margin:8px 0;
	text-align: left;
}

div.post_text_right{
	margin:8px;
	float: right;
	text-align: left;
}

span.post_text_left{
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
	display: inline-block;
	background-color: #A41034;
	color: white;
	padding: 2px 10px;
	margin-left: 0;
}
span.post_text_right{
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
	display: inline-block;
	background-color: grey;
	color: white;
	padding: 2px 10px;
	margin-right: 0;
}

.post_message{
	text-align: left;
	margin: 10px 40px 10px 40px;
	font-size: 20px;
	border: 2px solid black;
	border-radius: 5px;
}

.post_break{
	border: 2px solid black;
}

.divider{
	display: flex;
}

.fixed{
	width: 40%;
}

.flexed{
	margin-left: 80px;
	margin-right: 50px;
	flex-grow: 1;
	
}


.like{
	margin-top: 10px;
	float:right;
	margin-right: 10px;
}

.like_num{
	float:right;
	margin-right: 5px;
	margin-top: 10px;
}

.ticker_container{
	min-width: 1000px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;

}

.ticker{
	float: left;
	width: 12.5%;
	height: 70px;
	border-top: 2px solid #A41034;
	border-bottom: 2px solid #A41034;
	border-right: 1px solid #A41034;
	border-left: 1px solid #A41034;
	
}

.ticker_sport{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.ticker_break{
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid #A41034;
}

.ticker_team{
	text-align: left;
	margin-left: 8px;
	margin-top: 0px;	
	margin-bottom: 0px;
	font-size: 13px;
}

.ticker_score{
	float: right;
	margin-right: 8px;
}

.result_score{
	color: white;
	font-size: 14px;
}

.checkbox-inline{
	color: white;
}


.table{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


#shield1{
	float: left;
	padding:0;
}

#shield2{
	float:right;
	padding:0;
}

.nav_header{
	width: 500px;
	display: inline-block;
	height: 200px;
}

.title{
	float: right;
	padding-top: 30px;
	margin-right: 10px;
	padding-bottom: 0;
}

#top{
	margin: 0 auto;
	height: 100px;
	margin-bottom: 0px;
}

.standings{
	width: 50%;
}

.standings td, .standings th{
	text-align: center;
}

.bold_row td{
	font-weight: bolder;
}

.link{
	color: #A41034;
}

.link:hover{
	text-decoration: underline;
	color: #A41034;
}

.result_item{
	text-align: center;
}	

th{
	text-align: center;
}

td{
	text-align: center;
}

a:hover{
	text-decoration: none;
	color: black;
}

a{
	color: #A41034;
}

fieldset{
	border: none;
}

.round{
	border: 3px solid black;
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
}

.boxed-account{
	background-color: #A41034;
	padding: 20px 0px;
	width: 100%;
	border: 8px solid black;
	border-radius: 9px;
	height: 250px;
}

.boxed-captain{
	background-color: #A41034;
	padding: 20px 0px;
	width: 30%;
	border: 8px solid black;
	border-radius: 9px;
	height: 140px;
	margin: 0 auto;
}

.fixed-account{
	width: 50%;
}

.flexed-account{
	flex-grow: 1;
}

nav{
	margin-left: 0;
	margin-right: 0;
}


.logo{
	float: left;
	margin-left:0;	
	width: 280px;
	height: 141px;
	padding-bottom: 0;
}

.logo-login{
	width: 280px;
	height: 141px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	display: inline-block;
}

.cl-effect-8 a:hover{
	text-decoration: none;
	color: white;
}

label.input{
	color:white;
}

.gameleft{
    display: inline-block;
    width: 50%;
}

.gameright{
    display: inline-block;
    width: 40%;
}

.shieldleft{
    display: inline-block;
    width: 20%;
}
.shieldright{
    display: inline-block;
    width: 20%;
}
.shieldcenter{
    display: inline-block;
    width: 10%;
}

.shieldbox{
    height: 200px;
}

.schedule{
	width: 400px;
}

.trash-posts{
	margin-left: auto;
	margin-right: auto;
	width: 550px;
	
}

.trash-create{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.tiptext {
    padding:5px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
}
.description {
	background-color: white;
    display:none;
    position:absolute;
    border:5px solid #000;
    border-radius: 5px;
    width:280px;
    height:100px;
   	color: black;
   	font-size: 13px;
}

tr.home:hover{
	background: #D3D3D3;
}

tr.home {
	cursor: pointer; 
	cursor: hand;
}

.popout {
	margin-left: 60%; 
	width: 35%;
	position: absolute; 
	background-color: #A41034;
	color: white;
	border: 5px solid black;
	border-radius: 5px;
	max-height: 200px;
	overflow: scroll;
}

.button {
  border: 0;
  background: #A41034;
  border-radius: 4px;
  box-shadow: 0 5px 0 #6C0B22;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  width: 100px;
}

.button:active {
	 box-shadow: 0 2px 0 #6C0B22;
 	 transform: translateY(3px);
}

.button-login {
  border: 0;
  background: white;
  border-radius: 4px;
  box-shadow: 0 5px 0 #C9C9C9;
  color: black;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 5px 20px;
  transition: all .1s linear;
  width: 100px;
}

.button-login:active {
	 box-shadow: 0 2px 0 #C9C9C9;
 	 transform: translateY(3px);
 	 -webkit-transform: translateY(3px);
 	-ms-transform: translateY(3px);
}

.roster_name {
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
}

#sidebar {
	float: right;
	height: 70px;
	width: 250px;
	background-color: gray;
	left: 80%;
}


